*{
    margin: 0;
    font-family: 'Alike', serif;
    
}
#background-box{
    width: 1500px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 220px;
    opacity: .95;
    border-radius:25px;
    background-color:#eff3f8;
    background-position: center;
}
#logo{
    padding-top: 50px;
    width: 375px;
    height: 450px;
}


#mini{
    height: 7vh;
    margin-left: 1vw;
    vertical-align: middle;
    display: inline-block;
    
}
#main{
    padding: 75px;
}
#quote{
    width: 300px;
    height: 200px;
    
}
#navbar{
    background-color: #6127D2;
    color: aliceblue;
    height: 9vh;
    vertical-align: middle;
    display: inline-block;
    
    
}
.navbar-nav a{
    color: aliceblue;
    font-size: large;
    font-family: 'Alike', serif;
   
}
.nav-link disabled{
    color: aliceblue;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
#service-container{
    padding-top: 100px;
    padding-bottom: 100px;
    
}
#service-title{
    padding-bottom: 50px;
}
#testimonial-container{
    padding-top: 50px;
    padding-bottom: 100px;
    
}
#testimonial-title{
    padding-bottom: 50px;
}
#quote-container{
    padding-top: 50px;
    padding-bottom: 100px;
}