<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guardian Pest Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alike&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fjalla+One&family=Playfair+Display&family=Roboto+Flex:opsz@8..144&display=swap" rel="stylesheet">
    </head>
  
  
  <body>
    <div id="top-logo">
    
    
    <nav class="navbar navbar-expand-lg fixed-top" id="navbar">
        <div class="container-fluid">
          <a class="nav-link" aria-current="page" href="/"><img id="mini" src="static/logoPNG.png" alt=""></a>
          <a class="navbar-brand" href=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-left" >
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#service-container">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Testimonials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#quote-container">Request a Quote</a>
              </li>
                
              <div id="call-us">Call Us <br>(915) 500-0159</div>
            </ul>
          </div>
        </div>
      </nav>
    </div>

 <div id="background-box">
    <div id="main" class="container text-left">

        <div class="row" id="#testimonial-container">
            <div class="row" id="companyInfo">
              <div class="col" id="nameCol">
                <p>Guardian<br>
                   Pest<br> 
                   Management</p>
                <h3 id="phone-num">(915) 500-0159</h3>
              </div>  
              <div class="col" id="logoCol">
                <img id="logo" src="static/logoPNG.png" alt="">

                   
                <div id="reviews-carousel" class="carousel slide" data-interval="3000" data-bs-ride="carousel">
                  <div class="carousel-inner" id="#field-photos">
                    <div class="carousel-item active">
                      <img src="static/review1.png" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item ">
                      <img src="static/reviews2.png" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                      <img src="static/reviews3.png" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                      <img src="static/reviews4.png" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                      <img src="static/reviews5.png" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                      <img src="static/reviews6.png" class="d-block w-100" alt="">
                    </div>
                  </div>
                </div>
                        

              </div>   
            </div>
        </div>
        
        
        <br>
        <br>
        <br>
        <br>
        <hr class="solid">
        <br>
        <br>
        <br>

        <div class="container text-center" id="service-container">
          <h2 id="service-title">Services</h2>
          <div class="row">
            <div class="col">
              <div class="card h-100" style="width: 18rem; height: 15rem;">
                  <img src="static/morten-jakob-pedersen-nvpiA6WS3zU-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Termite Inspection</h5>
                      <h6 class="card-subtitle mb-2 text-muted">$85</h6>
                      <p class="card-text">Thorough inspection to determine if termites are affecting your property</p>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card h-100" style="width: 18rem;">
                  <img src="static/erik-karits-XiYo6XE0Cvg-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Mosquito Service</h5>
                      <h6 class="card-subtitle mb-2 text-muted">$50</h6>
                      <p class="card-text">Treatment focused on eliminating Mosquitoes</p>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card h-100" style="width: 18rem;">
                  <img src="static/veronica-lorine-b1g7LyyTEZk-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Spider Service</h5>
                      <h6 class="card-subtitle mb-2 text-muted">$65 -$125</h6>
                      <p class="card-text">Various treatments for Spiders, starting at $65.00</p>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card h-100" style="width: 18rem;">
                  <img src="static/francesca-tosolini-DmOhItSo49k-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Interior </h5>
                      <h6 class="card-subtitle mb-2 text-muted">$85</h6>
                      <p class="card-text">Detailed interior treatment to protect your home from bug invasions</p>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card h-100" style="width: 18rem;">
                  <img src="static/petar-tonchev-c-5-QE5kBYk-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Exterior</h5>
                      <h6 class="card-subtitle mb-2 text-muted">$85</h6>
                      <p class="card-text">General exterior treatment around the outside of your property. Optional powerspray service offered</p>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card h-100" style="width: 18rem;">
                  <img src="static/yuval-zukerman-zziiYf5afbA-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Commercial</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Call for Quote</h6>
                      <p class="card-text">Treatment for commercial and industrial properties with comprehensive, site-wide protection</p>
                  </div>
                </div>
            </div>

          </div>
        </div>

        <!-- <br>
        <br>
        <br>
        <hr class="solid">
        <br>
        <br>
        <br>
        <br>

        <h2 id="service-title">Services</h2> -->
        
        <div id="field-photos-carousel" class="carousel slide" data-interval="3000" data-bs-ride="carousel">
          <div id="photos-inner" class="carousel-inner">
            <div class="carousel-item">
              <img id="img1" src="static/james_2.png" class="d-block w-100" style="width:auto; height:auto;" alt="">
            </div>
            <div class="carousel-item active">
              <img id="img2" src="static/james_3.png" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
              <img id="img3" src="static/james_4.png" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
              <img id="img4" src="static/james_5.png" class="d-block w-100" alt="">
            </div>
          </div>
        </div>
        
        <br>
        <br>
        <br>
        <hr class="solid">
        <br>
        <br>
        
        <div id="quote-container">
            <form action="mail.php" method="post" class="row g-3">
                <h3 id="quote_title">Request a Quote</h3>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Name</label>
                  <input type="text" name="name" class="form-control" id="inputEmail4" placeholder="Full Name">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Phone</label>
                  <input type="number" name="phone" class="form-control" id="inputPassword4" placeholder="">
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">Service</label>
                  <input type="text" name="messsage" class="form-control" id="inputAddress2" placeholder="What type of services are desired?">
                </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" name="city" class="form-control" id="inputCity">
                </div>
                
                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input type="text" name="zip" class="form-control" id="inputZip">
                </div>
               <div class="col-12">
                  <button type="submit" class="btn btn-primary" style="background-color: #6127D2; border-color:#6127D2"> Request Quote</button>
                </div>
              </form>
        </div>
      </div>
  </body>
</html>

